*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
data/
data
argument/
scripts/
debug.log
nerfies_processing/content
nerfies_processing/vocab_tree_flickr100K_words32K.bin
.gitconfig
